<body>
    <header class="header">
		<h1 class="logo"><a href="#">Blood Donation Platform</a></h1>
      <ul class = "navbar">
          <li><a routerLink ='/Account'>My account</a></li>
          <li><a routerLink ='/Patients'>Patients</a></li>
          <li><a href="#">Log out</a></li>
      </ul>
	</header> 
<div>
    
</div>
<h2>All patients</h2>
<div class="container">
    <div *ngFor="let patient of patientList">
        <div class="patient">
        <p>
            {{ patient.lastName }}
        </p>
        <button (click)="getPatientById(patient.id)">Show Info</button>
    
        <button (click)="onEditClicked(patient.id)">Edit</button>
        <button (click)="deletePatientById(patient.id)">Delete Patient</button>
        </div>  
    </div>
</div>
<div class="form-area">
    <h3>Update a patient</h3>
    <form id="patientForm" #patientsForm="ngForm" (ngSubmit) = "onPatientCreate(patientsForm.value)">
        <p>
        <label>First name</label>
        <input type="text" name="firstName" ngModel>
        </p>
        <p>
        <label>Last name</label>
        <input type="text" name="lastName" ngModel>
        </p>
        <p>
        <label>Age</label>
        <input type="number" name="age" ngModel>
        </p>
        <p>
        <label>Blood Type</label>
        <input type="text" name="bloodType" ngModel>
        </p>
        <p>
        <label>Gender</label>
        <input type="text" name="gender" ngModel>
        </p>
        <p>
            <label>Phone Number</label>
            <input type="text" name="phoneNumber" ngModel>
        </p>
        
        <input class="submit" type="submit" value="{{editMode ? 'Update Patient' : 'Add Patient'}}">
        
    </form>
<p *ngIf="ok">
    
    Last name: {{ patient1.lastName }} <br>
    First name: {{patient1.firstName}} <br>
    Age: {{patient1.age}}
    
 </p> 
   
</div>
</body>
