<!-- Faci un form basic cu nume, prenume, role, username, parola
Dupa ce selecteaza rolul x, apare div-ul corespunzator
    x=Pacient => apar campuri si despre sange, medicamente, boli}
    x.=>Doctor => {functie, vechime} -->     
<body>
  <header class="header">
		<h1 class="logo"><a href="#">Blood Donation Platform</a></h1>
      <ul class = "navbar">
          <li><a href="#">Register</a></li>
          <li><a href="#">Login</a></li>
      </ul>
	</header> 




<div class="card">
  <div class="card-body">
    <form [formGroup]="registerUser" (ngSubmit)="onSubmit()">

      <h3 class="card-title">Register</h3>
     <p>
        <label for="firstname">First Name </label>
          <input type="text" placeholder = "First Name" id="firstname" name="firstname" formControlName="firstname">
     </p>
     <p>
        <label for="lastname">Last Name </label>
          <input type="text" placeholder = "Last Name" id="lastname" name="lastname" formControlName="lastname">
     </p>
     <p>
        <label for="email">Email </label>
          <input type="text" placeholder = "Email" id="email" name="email" formControlName="email">
     </p>
        
        <label for="password">Password </label>
          <input type="password" placeholder = "Password" id="password" name="password" formControlName="password">
      <p>
      <label for="role">Role </label>
        <select id="role" placeholder = "Role" name="role" formControlName="role">
          <option value="" disabled selected hidden>Choose a role</option>
          <option value="patient">Patient</option>
          <option value="doctor">Doctor</option>
          <option value="donator">Donator</option>
          <option value="admin">Admin</option>
        </select>
      </p>
      
      <!-- <p>
        <label for="role">role </label>
        <select id="role" name="role" formControlName="role">
          <option value="pacient">Pacient</option>
          <option value="doctor">Doctor</option>
          <option value="donator">Donator</option>
        </select>
      </p>
      <div *ngIf="contactForm.value.role == 'donator' ">
        <p>
            <label for="age">Age </label>
            <input type="text" id="age" name="age" formControlName="age">
        </p>

      </div>
      <div *ngIf="contactForm.value.role == 'pacient'">
        <p>
            <label for="bloodType">bloodType </label>
            <input type="text" id="bloodType" name="bloodType" formControlName="bloodType">
        </p>
        <p>
            <label for="gender">gender </label>
            <input type="text" id="gender" name="gender" formControlName="gender">
        </p>
      </div>
      <div *ngIf="contactForm.value.role == 'doctor' ">
        <p>
            <label for="function">function </label>
            <input type="text" id="function" name="function" formControlName="function">
        </p> -->


      <!-- </div> -->
      <p>
        <button type="submit">Submit</button>
      </p>
     
    </form>

  </div>
  </div>  
  
</body>